.create-form {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    font-size: medium;
    padding: 20px;
    width: auto;
    align-items: center;
    margin-bottom: 1rem;
    background-color: #de4d876b;
    border-radius: 20px;
    box-shadow: 10px 10px 10px gray;
}

input {
    width: 80%;
    margin: auto;
    margin-top: 1rem;
}

button {
    width: 2rem;
    margin: 1rem;
   
   
}
