* {
    box-sizing: border-box;
    margin: 0

}

.display-table {
    width: auto;
    height: auto;
    margin: auto;
    margin-right: 1.5rem;
}

.title {
    width: 12rem;
    border: 1px solid black;
    text-align: center;

}
.artist {
    width: 10rem;
    border: 1px solid black;
    text-align: center;

}
.album {
    width: 10rem;
    border: 1px solid black;
    text-align: center;
    
}
.release-date {
    width: 6rem;
    border: 1px solid black;
    text-align: center;

}
.likes {
    width: 4rem;
    border: 1px solid black;
    text-align: center;

}
.genre {
    width: 7rem;
    border: 1px solid black;
}

td {
    font-family: cursive;
}